{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>File Sharing</h1>
        <a href="{{ url_for('list_files') }}">Go to shared files list</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Upload file for sharing</h2>
        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
            <div class="form-group">
                <label for="file">File to upload</label>
                <input type="file" name="file">
                <p class="help-block">Select file to upload.</p>
                <p class="help-block">Allowed extensions: {{ ", ".join(allowed_extension) }}.</p>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
        </form>
    </div>
</div>

{% if upload_error : %}
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-danger">
          <strong>Ops!</strong> are you sure you can to upload this file?
        </div>
    </div>
</div>
{% endif %}

{% if filename : %}
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-success">
          <strong>Great!!</strong> can you download your file from <a href="{{ url_for('uploaded_file', filename=filename) }}">here</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
